body {

    background-color: white;
}
.jumbotron {
    background-image: url("https://thumbs.dreamstime.com/b/bacteria-23750542.jpg");
    background-size: 100% 100%;
    color: white;
    text-align: center;
}
 
            